{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'knowledge_basepostlinks_list' %}">BasePostLinks Listing</a></p>
<table class="table">
<tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit BasePostLinks</a>

{% endblock %}