{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'knowledge_basepost_list' %}">BasePost Listing</a></p>
<table class="table">
<tr><td>title</td><td>{{ object.title }}</td></tr>
<tr><td>short_info</td><td>{{ object.short_info }}</td></tr>
<tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit BasePost</a>

{% endblock %}