{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'user_app_comment_list' %}">Comment Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>text</td>
    <td>created_at</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.text }}</td>
    <td>{{ object.created_at }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'user_app_comment_create' %}">Create new Comment</a>
{% endblock %}