{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'user_app_comment_list' %}">Comment Listing</a></p>
<table class="table">
<tr><td>text</td><td>{{ object.text }}</td></tr>
<tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Comment</a>

{% endblock %}