{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="table">
<tr><td>image</td><td>{{ item.image }}</td></tr>
<tr><td>square_image</td><td>{{ item.square_image }}</td></tr>
<tr><td>is_real_image</td><td>{{ item.is_real_image }}</td></tr>
<tr><td>last_name</td><td>{{ item.last_name }}</td></tr>
<tr><td>name</td><td>{{ item.name }}</td></tr>
<tr><td>surname</td><td>{{ item.surname }}</td></tr>
<tr><td>birth_date</td><td>{{ item.birth_date }}</td></tr>
<tr><td>sex</td><td>{{ item.sex }}</td></tr>
<tr><td>mobile_number</td><td>{{ item.mobile_number }}</td></tr>
<tr><td>is_mobile_confirmed</td><td>{{ item.is_mobile_confirmed }}</td></tr>
<tr><td>email</td><td>{{ item.email }}</td></tr>
<tr><td>is_email_confirmed</td><td>{{ item.is_email_confirmed }}</td></tr>
<tr><td>vk_id</td><td>{{ item.vk_id }}</td></tr>
<tr><td>fb_id</td><td>{{ item.fb_id }}</td></tr>
<tr><td>ok_id</td><td>{{ item.ok_id }}</td></tr>
<tr><td>google_email</td><td>{{ item.google_email }}</td></tr>
<tr><td>experience</td><td>{{ item.experience }}</td></tr>
<tr><td>level</td><td>{{ item.level }}</td></tr>
<tr><td>coins</td><td>{{ item.coins }}</td></tr>
<tr><td>cristals</td><td>{{ item.cristals }}</td></tr>
<tr><td>rubles</td><td>{{ item.rubles }}</td></tr>
<tr><td>profile_occupancy</td><td>{{ item.profile_occupancy }}</td></tr>
</table>
<a class="btn btn-primary" href="/profile_edit">Редактировать</a>

{% endblock %}