{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
{% csrf_token %}
{{form|crispy}}
<button class="btn btn-primary" type="submit">Отправить</button>
</form>
{% endblock %}