{% extends "base.html" %}

{% block title %}Курсы - {{ block.super }}{% endblock title %}

{% block content %}
<h3>Список курсов</h3>
<div id="courses_list">
	{% for item, bought in courses_list %}
	<div class="course_item">
		<a class="title" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
		<div>{{ item.short_desc }}</div>
		{% if bought %}
		продолжить
		{% else %}
		начать
		{% endif %}
	</div>
	{% endfor %}
</div>

{% endblock content %}
