{% extends "base.html" %}

{% block title %}{{ item.title }} - Курсы - {{ block.super }}{% endblock title %}

{% block content %}
<h3>{{ item.title }}</h3>
<pre>{{ item.desc }}</pre>
{% if not bought %}
	<a href="{% url "start_course" item.id %}"{% if item.is_free %}>Начать обучение{% else %} onclick="return confirm('Уверен{% if request.user.profile.sex == "F" %}а{% endif %}, что хочешь купить этот курс {{ item.get_cost_string }}?');">Купить {{ item.get_cost_string }}{% endif %}</a>
{% else %}
	<h4>Список уроков:</h4>
	{% for lesson, started in lessons_list %}
		<p><a href="{% url "lesson_page" lesson.id %}">{{ lesson.title }} {% if started %}+{% else %}-{% endif %}</a></p>
	{% endfor %}
{% endif %}

{% endblock content %}
