{% extends "base.html" %}

{% block title %}{{ item.title }} - Задания - {{ block.super }}{% endblock title %}

{% block content %}
<h3>{{ item.title }}</h3>
<pre>{{ item.short_desc }}</pre>

{% if first_task %}
	<a href="{% url "start_task" first_task.id %}">Выполнить задание</a>
{% elif next_lesson %}
	<a href="{% url "lesson_page" next_lesson.id %}">Следующий уровень</a>
{% endif %}

{% endblock content %}
