<style type="text/css">
	tr:hover {
		background-color: #BBB;
	}
</style>
<table border="1" cellspacing="0" cellpadding="0">
	<tr>
		<th>Id</th>
		<th>Отправлено</th>
		<th>Задача</th>
		<th>Пользователь</th>
		<th>Тип</th>
		<th>Оценка</th>
		<th>Статус</th>
		<th>Процентов</th>
		<th></th>
	</tr>
	{% for item in entities %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.finished_at|date:'Y-m-d H:i' }}</td>
		<td>{{ item.task.lesson.order_index }}.{{ item.task.order_index }} {{ item.task.title }}</td>
		<td>{{ item.user.profile }}</td>
		<td>{{ item.task.task_type }}</td>
		<td>{{ item.mark }}</td>
		<td>{{ item.status }}</td>
		<td>{{ item.percent }}</td>
		
		<td>
			<a target="_blank" href="http://localhost:8080/task_check/{{ item.pk }}">Проверить</a>
			<a target="_blank" href="https://beta.uppermind.ru/task_check/{{ item.pk }}">Проверить на api</a>
		</td>
	</tr>
	{% endfor %}
</table>
<!--
<a href="localhost:8000/learn/create_cpp_course/?method=POST" target="_blank">Создать курс</a>
<br>
<a href="localhost:8000/user_app/create_users/?method=POST" target="_blank">Создать людей</a>
<br>
<a href="localhost:8000/learn/create_executions/?method=POST" target="_blank">Создать выполнение</a>
<br>
-->