{% extends "base.html" %}

{% block title %}{{ task.title }} - Задания - {{ block.super }}{% endblock title %}

{% block content %}
<h3>{{ task.title }}</h3>
<pre>{{ task.desc }}</pre>
<form method="POST" action="{% url "task_check" task_execution_id %}">{% csrf_token %}
	{% if task.task_type == 'O' %}
		Выберите ответ:<br>
		{% for option in task.options.all %}
			<p>
				<label>
					<input type="radio" name="answer" value="{{ option.id }}">
					{{ option.title }}
				</label>
			</p>
		{% endfor %}
	{% elif task.task_type == 'M' %}
		Выберите один или несколько ответов:<br>
		{% for option in task.options.all %}
			<p>
				<label>
					<input type="checkbox" name="answer[]" value="{{ option.id }}">
					{{ option.title }}
				</label>
			</p>
		{% endfor %}
	{% elif task.task_type == 'C' %}
		<p>
			<label>
				Ваш код:<br>
				<textarea id="user_code" name="answer"></textarea>
			</label>
		</p>
	{% elif task.task_type == 'S' %}
		{% for option in task.sequence_options %}
			<div data-value="{{ option.id }}">{{ option.title }}</div>
		{% endfor %}
		<input type="text" name="answer">
	{% elif task.task_type == 'A' %}
		<p>
			<label>
				Ваш ответ:<br>
				<input type="text" name="answer">
			</label>
		</p>
	{% endif %}
	<input type="submit">
</form>

{% endblock content %}
