{% extends "base.html" %}

{% block title %}Курсы - {{ block.super }}{% endblock title %}

{% block content %}
<style type="text/css">
.lesson_item {
	margin-left: 50px;
}	
.task_item {
	margin-left: 50px;
}	
.option_item {
	margin-left: 50px;
}	
</style>

<h3>Список курсов</h3>
<div id="courses_list">
	{% for item in entities %}
	<div class="course_item">
		<h3 title="{{ item.short_desc }}">{{ item.title }}</h3>
		{% for lesson_item in item.lessons.all %}
		<div class="lesson_item">
			<h4 title="{{ lesson_item.short_desc }}">{{ lesson_item.title }}</h4>
			{% for task_item in lesson_item.tasks.all %}
			<div class="task_item">
				<h4>{{ task_item.title }} ({{ task_item.get_task_type_display }})</h4>
				{% for option_item in task_item.options.all %}
				<div class="option_item">
					<p title="{{ option_item.short_desc }}">{{ option_item.title }} {{ option_item.is_correct }}</p>
				</div>
				{% endfor %}	
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		
	</div>
	{% endfor %}
</div>

{% endblock content %}