{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Uppermind{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body>
		<table border="1" cellpadding="0" cellspacing="0" style="width: 100%">
			<tr>
				<td colspan="2">
					<a href="/">Лого</a> | 
					<a href="/courses">Курсы</a>
				</td>
				<td>
					{% if request.user.is_authenticated %}
						<a href="/profile">{{ request.user }}</a> |
						{{ request.user.profile.coins }} м. |
						{{ request.user.profile.cristals }} к.
					{% else %}
						<a href="/login"></a>
					{% endif %} 
				</td>
			</tr>
			<tr>
				<td width="200">
					side menu
				</td>
				<td style="max-width: 1000px; overflow: auto; padding: 10px;">
					{% block content %}
					{% endblock content %}
				</td>
				<td width="200">
					side bar
				</td>
			</tr>
		</table>
	</body>
</html>